body { word-wrap: break-word; }
nav+.container { margin-top: 75px; }
.wrapper { margin-top: 15px; }
.bg-error { background-color: #f2dede; }

/* Search form */
.search-form{ text-align: center; }
.search-form label { margin: 0; }